#users-panel {
    max-width:calc(100% - 470px);
    left:420px;
    top:30px;
    max-height:calc(100% - 167px);
    overflow-y:auto;
    display:none;
}

#users-list {
    margin:0;
    list-style:none;
    padding:0;
}

#users-list li {
    display:inline;
    float:left;
    height:150px;
    width:150px;
    margin:10px;
    background:url("../images/user.svg") no-repeat center;
    background-size:cover;
    position:relative;
    overflow:hidden;
}

#users-list li:hover {
    background-color:grey !important;
    cursor:pointer !important;
    overflow:auto !important;
}

#users-list li.selected {
    width:calc(100% - 20px);
    padding:10px 10px 10px 10px;
    margin:0 0 5px 0;
    background-color:#00549f;
}

#users-list span.text {
    text-align:center;
    display:inline-block;
    color:#FFFFFF;
    text-shadow:2px 2px #000000;
    position:relative;
}

#users-list span.text:hover {
    background-color:grey;
    z-index:5;
}