<div id="credentials-container">
    <div id="credentials-panel" class="container panel">
        <label class="shared-form label-form" for="credentials-username">Username:</label>
        <input id="credentials-username" class="shared-form input-form" type="text"/>
        <br/>
        <label class="shared-form label-form" for="credentials-password">Password:</label>
        <input id="credentials-password" class="shared-form input-form" type="password"/>
        <br/>
        <span id="credentials-submit" class="shared-span">Submit</span>
        <span id="credentials-cancel" class="shared-span">Cancel</span>
    </div>
</div>